* {
    margin: 0; /*remove margens padrão*/
    padding: 0; /* remove o padding padrão*/
    box-sizing: border-box;
}



header {
    background-color: black; /* Cor de fundo da header */
    width: 100%; /* Largura ocupando toda a largura da tela */
    height: 20vh; /* Altura da header */
}

nav {
    font-family: "Lily Script One", system-ui; /* Define a fonte dos links na nav */
    display: flex; /* Transforma a nav em um contêiner flexível */
    justify-content: space-evenly; /* Alinha os itens da nav com espaçamento igual entre eles */
    align-items: center; /* Alinha os itens verticalmente ao centro da nav */
}

nav a {
    color: white; /* Cor dos links */
    text-decoration: none; /* Remove decoração padrão (sublinhado) dos links */
    font-size: 20px; /* Tamanho da fonte dos links */
    padding-top: 50px; /* Espaçamento acima dos links dentro da nav */
}

nav a:hover {
    color: rgb(20, 169, 228); /* Cor do texto ao passar o mouse sobre os links */
}

.banner {
    width: 100%; /* Largura ocupando toda a largura da tela */
    height: 70vh; /* Altura do banner */
}

.banner img {
    width: 100%; /* Imagem do banner ocupa toda a largura da div */
    height: 100%; /* Imagem do banner ocupa toda a altura da div */
}

.parte1 img {
    width: 25%; /* Largura das imagens na parte1 */
    border-radius: 18px; /* Borda arredondada nas imagens */
}

.parte1 {
    display: inline-flex; /* Alinha as imagens lado a lado na parte1 */
    justify-content: space-evenly; /* Espaçamento igual entre as imagens */
    margin-top: 5%; /* Distância do topo */
}

.parte2 img {
    width: 25%; /* Largura das imagens na parte2 */
    border-radius: 18px; /* Borda arredondada nas imagens */
}

.parte2 {
    display: inline-flex; /* Alinha as imagens lado a lado na parte2 */
    justify-content: space-evenly; /* Espaçamento igual entre as imagens */
    margin-top: 5%; /* Distância do topo */
}

.parte1 img:hover {
    border: 5px solid rgb(20, 169, 228); /* Borda azul ao passar o mouse sobre as imagens */
}

.parte2 img:hover {
    border: 5px solid rgb(20, 169, 228); /* Borda azul ao passar o mouse sobre as imagens */
}

footer p {
    width: 100%; /* Largura do parágrafo dentro do footer */
    color: white; /* Cor do texto */
    margin-left: 5%; /* Margem à esquerda */
    font-size: 18px; /* Tamanho da fonte */
}

footer img {
    width: 60px; /* Largura das imagens dentro do footer */
    display: inline-block; /* Exibe as imagens em bloco, uma ao lado da outra */
    margin-right: 10px; /* Margem à direita */
}


footer{
 
    height: 20vh;/*altura da footer*/
    background-color: black;
    margin-top:10%;/*espaçamento acima*/
    display: flex;/*conteiner das imagens como blocos flexiveis*/
    justify-content: space-evenly;/*distribui espaços iguais entre os elementos*/
    align-items: center;/*alinha os intens do centro da footer*/

}